<%= simple_form_for(@administracao_carga_horaria) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :carga_horaria %>
    <%= f.input :nome %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
