<p id="notice"><%= notice %></p>

<h1>Listing Administracao_carga_horarias</h1>

<table>
  <thead>
    <tr>
      <th>Carga horaria</th>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @administracao_carga_horarias.each do |administracao_carga_horaria| %>
      <tr>
        <td><%= administracao_carga_horaria.carga_horaria %></td>
        <td><%= administracao_carga_horaria.nome %></td>
        <td><%= link_to 'Show', administracao_carga_horaria %></td>
        <td><%= link_to 'Edit', edit_administracao_carga_horaria_path(administracao_carga_horaria) %></td>
        <td><%= link_to 'Destroy', administracao_carga_horaria, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carga horaria', new_administracao_carga_horaria_path %>
