<p id="notice"><%= notice %></p>

<h1>Listing Administracao_situacoes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Codigo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @administracao_situacoes.each do |administracao_situacao| %>
      <tr>
        <td><%= administracao_situacao.nome %></td>
        <td><%= administracao_situacao.codigo %></td>
        <td><%= link_to 'Show', administracao_situacao %></td>
        <td><%= link_to 'Edit', edit_administracao_situacao_path(administracao_situacao) %></td>
        <td><%= link_to 'Destroy', administracao_situacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Situacao', new_administracao_situacao_path %>
