<p id="notice"><%= notice %></p>

<h1>Listing Administracao_classes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Codigo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @administracao_classes.each do |administracao_classe| %>
      <tr>
        <td><%= administracao_classe.nome %></td>
        <td><%= administracao_classe.codigo %></td>
        <td><%= link_to 'Show', administracao_classe %></td>
        <td><%= link_to 'Edit', edit_administracao_classe_path(administracao_classe) %></td>
        <td><%= link_to 'Destroy', administracao_classe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classe', new_administracao_classe_path %>
