<p id="notice"><%= notice %></p>

<h1>Listing Administracao_quadros</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Codigo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @administracao_quadros.each do |administracao_quadro| %>
      <tr>
        <td><%= administracao_quadro.nome %></td>
        <td><%= administracao_quadro.codigo %></td>
        <td><%= link_to 'Show', administracao_quadro %></td>
        <td><%= link_to 'Edit', edit_administracao_quadro_path(administracao_quadro) %></td>
        <td><%= link_to 'Destroy', administracao_quadro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quadro', new_administracao_quadro_path %>
